html,
body,
.kg_container,
.container-centered,
.container-bottom{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
    color: darkslategrey;
}

.title-component{
    font-size: 30px;
    font-weight:bold;
}

.sort-order-component,
.sort-by-component{
    display: inline-block;
}